amqp==2.6.1
asgi-ipc==1.4.2
asgi-redis==1.4.3
asgiref==1.1.2
asn1crypto==1.5.1
attrs==21.4.0
autobahn==19.11.2
Automat==20.2.0
billiard==3.5.0.5
boto==2.46.1
botocore==1.20.112
celery==4.1.1
cffi==1.15.0
channels==1.1.8
configparser==4.0.2
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.3.2
daphne==1.3.0
Django==1.9.7
django-crontab==0.7.1
django-jsonfield==1.4.1
django-redis-cache==1.7.1
django-rest-swagger==0.3.4
django-storages==1.5.2
djangorestframework==3.3.3
enum34==1.1.10
et-xmlfile==1.0.1
funcsigs==1.0.2
-e git+http://git-hvx.payoda.com/python/pip-modules.git@15140536cd6c8ccfd88df96ab902b74578a91cb7#egg=HVXBeat
-e git+http://git-hvx.payoda.com/python/pip-modules.git@c960484cda1ae05117a770b20790376bd58751c4#egg=HVXNotification
hyperlink==21.0.0
idna==2.10
importlib-metadata==2.1.3
incremental==21.3.0
ipaddress==1.0.23
jdcal==1.4.1
jmespath==0.10.0
kombu==4.6.11
msgpack-python==0.5.6
mysqlclient==1.4.6
openpyxl==2.4.9
packaging==20.9
pathlib2==2.3.7.post1
Pillow==3.2.0
-e git+http://git-hvx.payoda.com/python/pip-modules.git@85799428dc1a2ac5ab57a2a61fc043c6778fa00c#egg=plugin_manager
posix-ipc==1.0.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycrypto==2.6.1
PyHamcrest==1.10.1
PyJWT==1.5.0
pynamodb==4.3.3
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-dateutil==2.6.0
python-interface==1.6.1
pytz==2016.10
PyYAML==5.4.1
randstr==0.1.2
raven==5.26.0
redis==2.10.6
requests==2.10.0
scandir==1.10.0
schema==0.5.0
serpy==0.3.1
service-identity==21.1.0
six==1.10.0
sqlbuilder==0.7.10.18
suds==0.4
Twisted==20.3.0
txaio==18.8.1
typing==3.10.0.0
urllib3==1.26.9
validictory==1.1.2
vine==1.3.0
zipp==1.2.0
zope.interface==5.4.0
